.container{
  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: 10rem minmax(calc(100vh - 15rem), auto) 5rem;
  grid-template-areas:
          "header content"
          "sideBar content"
          "footer footer";
}

.mainHeader{
  grid-area: header;
}

.sideBar {
  grid-area: sideBar;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}