.container{
  display: grid;
  grid-template-columns: 10rem auto;
  grid-template-rows: 10rem calc(100vh - 20rem) 10rem;
  grid-template-areas:
          "header content"
          "sideBar content"
          "footer footer";
}

.mainHeader{
  grid-area: header;
}

.sideBar {
  grid-area: sideBar;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}