.sidebar-menu {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

.sidebar-menu__title {
  padding: 20px 20px 0;
  color: #b0b0b0;
  line-height: 30px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .8462rem;
}
