.footer {
  //background: $dark;
  //background: url("../../img/footer-cat.png") no-repeat;
  min-height: 126px;
  //background-size: 100%;
}

.footer-top {
  background: $dark;
  min-height: 90px;
  margin-top: 50px;
  display: flex;
}

.footer-top__nav {
  margin: auto;
}

.footer-top__nav-list {
  list-style-type: none;
  li {
    float: left;
    margin-right: 25px;
  }
  a {
    color: white;
    font-family: 'Montserrat-Regular', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  }
}

.footer-bottom {
  background: $green;
  min-height: 30px;
  display: flex;
}

.footer-bottom__copyright {
  color: white;
  margin: auto;
  font-size: 10px;
  text-align: center;
}