.main-header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.title{

}

.login-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-block__link{
  margin: 5px 0;
}