@import "../../bootstrap4";
//@import "../../scss-bootstrap/bootstrap";
//@import "../../scss-bootstrap/bootstrap-grid";
//@import "../../scss-bootstrap/bootstrap-reboot";
@import "variables";
@import "bootstrap-theme";

@import "header";
@import "main-menu";
@import "main-content";
@import "footer";
@import "mixins";

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../fonts/Montserrat-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../../fonts/Montserrat-Light.otf');
  font-weight: 300;
  font-style: normal;
}

main{
  color: $dark;
  background: #faf5f9;

  //background: $light;
  //todo обсудить этот момент с Костей
  /*&:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: !*$light url("../../img/svg/bredik.svg")*! #faf5f9 no-repeat;
    background-size: 100%;
    transform: scale(-1, 1)
  }*/
}

a{
  color: $dark;
  transition: 200ms;
  &:hover{
    text-decoration: none;
    color: lighten($dark, 7%);
  }
}

nav{
  border-radius: 5px;
}