.sections-menu{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  background-color: $blue;
  padding: 5px;
  border-radius: 5px;
}

.sections-menu__item{
  margin: 0 5px;
  color: $light;
  line-height: 40px;
  padding: 0 10px;
  border-radius: 5px;
  text-decoration: none;
  &:hover{
    background-color: lighten($light, 5%);
    color: $blue;
  }
}

.sections-menu__item_active{
  background-color: $light;
  color: $blue;
}