@import "~normalize.css";
@import "variables";

@import "./admin/admin-main";
@import "header";
@import "main-menu";
@import "main-content";
@import "footer";
@import "solution-page";

@import "mixins";

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../fonts/Montserrat-Regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../../fonts/Montserrat-Light.otf');
  font-weight: 300;
  font-style: normal;
}

body{
  margin: 0;
}

main{
  color: $dark;
  padding: 10px;
}

a{
  color: $dark;
  transition: 200ms;
  &:hover{
    text-decoration: none;
    color: lighten($dark, 7%);
  }
}