.main-menu{
  //opacity: 0.8;
  //background-color: transparent !important;
  max-width: 100%;
  border: 1px solid $blue;
  margin-bottom: 50px;
  & a{
    color: $light;
    &:hover{
      color: lighten($light, 10%)
    }
  }
  & div{
    color: $light !important;
    width: 100%;
  }
  .nav {
    justify-content: space-around;
    width: 100%;
  }
}

//todo это стили для контента на главной, потом сделать файл и перенести туда
.index-content {
  justify-content: space-around;
}

.solution-page-preview {
  max-width: 25%;
}

.card-text {
  font-size: 14px;
}