.main-menu-container {
  background: $blue;
}

.main-menu{
  max-width: 100%;
  border: 1px solid $blue;
  margin-bottom: 50px;
  & a{
    color: $light;
    &:hover{
      color: lighten($light, 10%)
    }
  }
  & div{
    color: $light !important;
    width: 100%;
  }
  .nav {
    justify-content: space-around;
    width: 100%;
  }
}

//todo это стили для контента на главной, потом сделать файл и перенести туда
.card-text {
  font-size: 14px;
}

.footer {
  //background: $dark;
  //background: url("../../img/footer-cat.png") no-repeat;
  min-height: 126px;
  //background-size: 100%;
}

.footer-top {
  min-height: 60px;
  background: url("../../img/footer-cat.png") no-repeat;
  background-size: 60%;
  background-position: bottom;
}

.footer-bottom {
  background: $dark;
  min-height: 40px;
}

