.main-header{
  display: grid;
  grid-template-columns: minmax($minWidth, auto);
  padding: 20px;
  text-align: center;
}

@media (min-width: 650px){
  .main-header{
    grid-template-columns: 150px minmax(150px, auto) 150px;
  }
  .title{
    grid-column-start: 2;
  }
}