.login-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.login-block__link{
  margin: 5px 0;
}

.login-block__login{
  margin: auto;
  padding: 10px;
  border: $light solid 1px;
  color: $light;
  border-radius: 10px;
  text-decoration: none;
  transition: all 300ms;
  &:hover{
    border-color: #eb3329;
    background-color: #eb3329;
    color: #fff;
  }
}