*, *:after, *:before{
  box-sizing: border-box;
}
body{
  margin: 0;
}

.container{
  display: grid;
  grid-template-columns: 10rem auto;
  grid-template-rows: 10rem calc(100vh - 20rem) 10rem;
  grid-template-areas:
          "header content"
          "sideBar content"
          "footer footer";
}

.mainHeader{
  grid-area: header;
  text-align: center;
  background-color: darkgreen;
  color: white;
}

.sideBar{
  grid-area: sideBar;
  background-color: darkgreen;
  color: white;
  border-right: 2px solid black;
  height: 100%;
}

.content{
  grid-area: content;
}

.footer{
  grid-area: footer;
}

